<div class="box">
  <h2>User: <%= @user.login %></h2>
  <div class="boxContent">
    <p>Member since <%= @user.created_at.to_s(:long) %></p>

    <p>Need to get info from person->user link and display some here a la myspace</p>
  </div>
</div>
